/*Buttons for adding an anime, sorting from high to low or low to high*/
.options{
   position: relative;
}

.options button{
    position:relative;
    top:50%; 
    left:33%;
    padding: 0 15 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border:1px solid black;
}

.options button:hover{
    background-color: rgb(153, 86, 97);
}

#clear{
    width: 100px;
}